.container-btn-load-more {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
  margin-top: 20px;

  .btn-load-more {
    border: none;
    padding: 15px 40px;
    font-family: inherit;
    background-color: #d9ac59;

    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    transition: 350ms;
  }

  .btn-load-more:hover {
    color: #000;
    opacity: 1;
  }
}
